<nav class="navbar">
    <a href="/">Início</a> |
    <a href="/sobre">Quem Somos</a> |
    <a href="/animais">Conheça os Pets</a> |
    <a href="/cadastro">Marcar uma Visita</a> |
    <a href="/visitas">Área do Visitante</a> 
</nav>