<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PetAcolhe</title>
  <link rel="icon" href="/img/PetAcolhe.png">
  {{{styles}}} <!-- CSS dinâmico -->
  
</head>
<body>
  {{> navbar}}
  {{{body}}}
  {{> footer}}
</body>
</html>
