<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Sistema de Visitas</title>
  <link rel="icon" href="img/PetAcolhe.png">
</head>
<body>
  {{> navbar}}
  {{{body}}}
  {{> footer}}
</body>
</html>
